<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/output.css">
    <title>List Contact</title>
  </head>
  <body class="bg-gray-800">
<nav id="navbar" class="fixed top-0 right-0 left-0 bg-black h-16"></nav>
    <div class="pt-16 h-screen flex justify-center items-center flex-col md:flex-row md:mx-auto md:gap-8 lg:w-3/5 px-4 gap-8">
      <h1 class="text-white font-bold text-4xl md:p-3 md:text-center md:text-5xl">List Contact</h1>
      <div class="flex flex-col gap-7">
        <p class="text-2xl text-justify text-sky-400 font-bold">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum delectus
          minus ratione, odio rem voluptatibus officiis illum. Labore voluptas
          ullam molestiae iure, ex ea. Aliquam, itaque ratione. Dolores, ad
          doloremque.
          <div class="flex justify-center items-center flex-row gap-8">
            <a class="bg-slate-500/60 hover:bg-slate-500 p-4 text-2xl font-semibold text-white rounded-xl transition ease-in duration-1500 w-2/4 text-center" href="/login/">Login</a>
            <a class="bg-indigo-700 hover:bg-indigo-900 p-4 text-2xl font-bold text-white rounded-2xl transition ease-in duration-1500 w-2/4 text-center" href="/signup/">Registro</a>
          </div>
        </p>
      </div>
    </div>
    <script src="../components/nav.js"></script>
  </body>
</html>
